<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem labore tempore ea! Eius qui quo necessitatibus
        sint, architecto velit iusto voluptatem rerum illum laudantium quisquam doloremque corporis sequi odio tenetur?
    </p>
    <script>
        $(document).ready(() => {
            var socket = io("http://localhost:8000/message");
            $("#send").click(() => {
                var room = $(".content").val();
                socket.emit("room", room);
            })
            socket.on("mess_to_room", (msg) => {
                console.log(msg);
            })
        })
    </script>
</body>

</html>